[Unit]
Description=Start H3C campus login daily at 06:00

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=false
Unit=h3c-campus-daily.service

[Install]
WantedBy=timers.target
